<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hardwood-wallpaper.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{1680,1050}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1680,1050}}</string>
                <key>sourceSize</key>
                <string>{1680,1050}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>background-568h@2.pvr.gz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5e9d059c082c65137d659f9d24bd66d9:d9d537ae57b27957e131e14796aa6ddf:acbde9ef0a7c4f3cccfbf5fb0ce91673$</string>
            <key>textureFileName</key>
            <string>background-568h@2.pvr.gz</string>
        </dict>
    </dict>
</plist>
